/* Elements sélecteurs */

* {
  background-color: antiquewhite;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 2rem;
}

body {
    text-align: center;
}

/* Class sélecteurs */

/* ID sélecteurs */
#logo {
    width: 100%;
}
